on: [push, pull_request]
name: CI
jobs:
  build:
    name: "Build on Racket '${{ matrix.racket-version }}' (${{ matrix.racket-variant }})"
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v2
      - uses: Bogdanp/setup-racket@v1.10
        with:
          architecture: x64
          distribution: full
          variant: 'CS'
          version: '8.10'
      - name: Installing rosette
        run: raco pkg install rosette
      - name: Compiling boolector
        run: 
          - git clone https://github.com/boolector/boolector
          - cd boolector
          - ./contrib/setup-lingeling.sh
      - name: Testing racket-vcd
        run: racket riscv.rkt 3
